$def with (card)
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>microBrother: results</title>
  </head>
  <body>
    <div class="vcard">
      <h1 class="fn">$card['fn']</h1>
      <p>(<a href="$card['url']" class="url">$card['url']</a>)</p>
    </div>
  </body>
</html>
